.clear-style {
    clear: both;
}

.page-end {
    margin-top: 100px;
    width: 100%;
    background-color: grey;
    text-align: center;
    opacity: 0.8;
}

.himu-theme {
    background: #333;
    font-family: Georgia, Helvetica,Tahoma,"PingFang SC", 
    STXihei,"等线","WenQuanYi Micro Hei", Arial, sans-serif;
}

.welcome {
    width: 100%;
    height: 450px;
    background: url("/image/welcome.png") no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    font-style: italic;
}

.welcome h1 {
    line-height: 400px;
    color: white;
    opacity: 0.75;
    font-size: 70px;
}

.welcome h5 {
    line-height: 50px;
    font-style: normal;
    color: white;
    opacity: 0.75;
}

.content {
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;

    word-wrap: break-word;
    color: whitesmoke;
}

.content h2 {
    margin-bottom: 10px;
}

.content h3 {
    margin-bottom: 10px;
    font-style: normal;
}

.content p {
    margin-bottom: 10px;
}

.content-image img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.content-image p {
    color: gray;
    margin-top: -5px;
    font-size: small;
    text-align: center;
}

.content a {
    color: dodgerblue;
}

.content table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.content th {
    height: 50px;
    background-color: rgb(43, 43, 43, 0.8);
}

.content table, th, tr, td {
    text-align: center;
    border: 1px solid gray;
}
